
body{
  background-color: #fff;
}

/* ----=======================================---*/
/* ----=======================================---*/
/* ----=======================================---*/



.dashboard-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}


/* ----=======================================---*/
/* ----=======================================---*/
/* ----=======================================---*/


.wrap-da{
    display: flex;
    flex-direction: column; 
    background-color: white; 
    height: 100%;
}

  /* Header  */
  .header { 
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 5px -3px rgba(153, 148, 148, 0.35);
    position: fixed;
  }
  
  .header h3{
    margin-left: 19%;
    color: black;
  }


  /* End Header  */
  
  /* Sidebar  */


  .icon {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 20px;
  }

.go{
  font-size: 20px;
  height: 20px;
  float: right;
}

  .sidebar {
    height: 100vh;
    background-color: white;
    box-shadow: 0 6px 7px 3px rgba(85, 81, 81, 0.35);
    width: 200px;
    position: fixed;
   
  }
  

.photo-wrap img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

  .sidebar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px ;
    padding-top: 10px;
  }
  

  .sidebar-title h3{
    color: rgb(84, 81, 81);
  }
  

  .sidebar-list {
    padding: 0;
    list-style-type: none;
    margin-top: 10px;
  }
  

  .sidebar-list-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 18px;
  }
  

.dwn {
    margin-top: 320px;  
}


  .sidebar-list-item:hover {
    cursor: pointer;
  }

  .icon:hover{
    color: rgb(194,157,89);
  }
  .sidebar  li :hover{
    color: rgb(194,157,89);
  }
  .sidebar-list-item > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  Link{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }


 
 
 .sidebar-right-side{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    padding-bottom: 20px;
 }

  .total-booking{
    padding: 40px; 
  }

  .total-booking span{
     padding: 60px;
     font-size: 25px;
  }


    /*table*/



.Add-tour-btn {
    margin-top: 80px;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 0;
    background-color: rgb(154, 88, 7);
    float: right;
    margin-right: 55px;
    margin-bottom: 30px;
    cursor: pointer;
}

 /*       ========================= */


 .table-wrapper{
  width: 100%;
 
}

.table{
  
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px 10px#f9f6f6de;
  border-radius: 10px;
  width: 100%;
  max-width: 90%;
  margin: auto;
  overflow-x: auto;
}

.table thead{
  color: black;
  font-weight: 800;
}

th{
  text-align: start;
  
}

.table th,
.table td{
  padding: 0.8rem;
}

.table td{
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table img{
  width: 90px;
  height: 40px; 
  border: 2px solid #c29d593a;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.table tbody tr:hover {
  background-color: rgba(212, 192, 167, 0.724);
  cursor: pointer;
}

.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: #fff;
}

.label-draft{
  background-color: #777;
}

.label-live{
  background-color: #42a942;
}

.label-rel{
  background-color: #d9534f;
}

.actions{
  display: flex;
  gap: 14px;
  flex-direction: row;
  justify-content: flex-end;
}

.actions svg{
  cursor: pointer;
}

.delete-btn{
  color: #e00902;
}
.edit-buttonn{
  color: #040504;
}


@media only screen and (max-width: 425px) {
  .sidebar {
    width: 100%;
    height: 300px;
    position:absolute;
  }

  .sidebar-title {
    justify-content: center;
    padding: 10px;
  }

  .sidebar-list-item {
    padding: 10px;
    font-size: 14px;
  }

  .dwn {
    margin-top: 0;
  }

  .sidebar-right-side {
    margin-left: 0;
  }
  .header{
    width: 390px;
    margin-top: 300px;
    position: relative;
  }
  .Add-tour-btn{
    margin-top: 30px;
    width: 80px;
    margin-right: 5px;
  }
/* ============*/

  .table-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }

  .table {
    width: 100%;
    max-width: 100%;
  }

  .table img {
    width: 70px;
    height: 30px;
  }

  .table td,
  .table th {
    padding: 3px;
    font-size: 10px;
  }

  .actions {
    gap: 10px;
  }


}


